#product {
    min-height: 100vh;
}

/*product background*/
#product-background {
    width: 100%;
    height: 56.24vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media (min-width: 512px) {
    #product-background {
        height: 60vw;
    }
}

@media (min-width: 768px) {
    #product-background {
        height: 45vw;
    }
}

@media (min-width: 992px) {
    #product-background {
        height: 35vw;
    }
}

/* Product Description Header */
#product-description-header {
    position: relative;
}

#product-description-display {
    margin-right: unset;
}

#product-cart {
    display: flex;
    flex-flow: column;
    position: relative;
    width: 100%;
    background-color: var(--sub-color);
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 4px;
}

@media (min-width: 768px) {
    #product-description-display {
        margin-right: 300px;
    }

    #product-cart {
        position: absolute;
        width: 300px;
        height: 125px;
        bottom: 1rem;
        right: 0px;
        margin-bottom: 0rem;
    }
}

.product-cart-price {
    flex: 1 1 auto;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .product-cart-price {
        margin-bottom: 0rem;
    }
}

.product-cart-discount {
    font-size: 1.0rem !important;
}

.product-cart-final-price {
    font-size: 1.2rem;
}

.product-cart-discount-price {
    font-size: 1.2rem;
}

/*table product description  */
.product-table td {
    border-top: 0px !important;
    padding-left: 0px !important;
    color: white !important;
}

.details-content {
    height: 38px;
}

.product-description .nav-item a {
    color: white !important;

}

.product-description .nav-item a:hover {
    color: black !important;
    background-color: white !important;
}

.product-description .nav-tabs .nav-link.active {
    color: black !important;
}

.details-category {
    font-weight: 600;
}

/*Responsive chitiet.php */
@media(max-width:600px) {
    .title{
        font-size: 1rem!important;
        
    }
    #bg-product-detail {
        height: 15rem;
        grid-template-columns: 6rem auto;
        grid-template-areas:
            'imgProduct infoProduct '
            ' priceProduct priceProduct '
        ;
    }

    .card-price {
        width: auto;
        position: inherit!important;
    }

    .img-product img {
        width: 6rem;
    }

    .info-product {
        font-size: 15px;
    }
    .nav{
        position: sticky!important;
        top:0!important;
        background-color: var(--main-color);
    }



    #gamedetails .table-row {
        display: block;

    }

    .recommended-table .details-lable {
        display: block !important;
    }

    .systemrequire-table {
        display: block !important;
    }

    .button-addToCast {
        width: 100%;
    }

    .button-addToWishList {
        width: 100%;
    }
    

}