:root {
    --main-color: #0b0c10;
    --sub-color: #1f2833;
    --sub2-color: #0051a8;
    --sub3-color: rgba(255, 255, 255, 0.5);
    --mid-color: #161B23;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background: var(--main-color);
    border-left: 1px solid hsla(0,0%,100%,0.1);
}

::-webkit-scrollbar-thumb {
    background: hsla(0,0%,100%,0.4);
}

a {
    color: unset;
}

a:hover {
    color: unset !important;
    text-decoration: unset !important;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-color) !important;
    color: white !important;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    height: 1px;
    background-color: var(--sub-color);
}

h1 {
    font-weight: 700 !important;
    font-size: 2em !important;
    padding: 1rem 0rem !important;
}

.form-control {
    border: 0px solid #ced4da !important;
}

.form-control[readonly] {
    cursor: unset;
}

.form-select {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.close-x {
    stroke: black;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 5;
}

.bw-0 {
   border-width: 0px !important; 
}

.center {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.btn-confirm {
    background-color: var(--primary) !important;
    color: white !important;
}

.bg-main {
    background-color: var(--main-color) !important;
}

.bg-sub {
    background-color: var(--sub-color) !important;
}

.text-main {
    color: var(--main-color) !important;
}

.text-sub {
    color: var(--sub-color) !important;
}

.text-sub2 {
    color: var(--sub2-color) !important;
}

.text-sub3 {
    color: var(--sub3-color) !important;
}

.text-white-after::after {
    color: white !important;
}

.text-decoration-line-through {
    text-decoration: line-through;
}

.transition-all {
    transition: all 1s !important;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg) translateY(-3px);
    -webkit-transform: rotate(-45deg) translateY(-3px);
}

.left {
    transform: rotate(135deg) translateY(-3px);
    -webkit-transform: rotate(135deg) translateY(-3px);
}

.up {
    transform: rotate(225deg) translateY(-3px);
    -webkit-transform: rotate(225deg) translateY(-3px);
    transition: all 0.5s;
}

.down {
    transform: rotate(45deg) translateX(-3px);
    -webkit-transform: rotate(45deg) translateX(-3px);
    transition: all 0.5s;
}

.disable-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

label:hover {
   cursor: pointer; 
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    #browse-container {
        grid-template-columns: 75% 25%;
        grid-template-rows: minmax(36px, 70px) auto;
        grid-template-areas:
        "sort filter"
        "product filter" !important;
    }

    #browse-filter {
        margin-left: 2em !important;
    }

    #search-bar {
        width: unset !important;
    }

    #search-bar > div {
        width: unset !important;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
}

/* Drop down*/
.dropdown-menu.animation.show {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

/* Login */
.dropdown-login:hover{
    background-color: var(--primary) !important;
}

/* Notice */
#notice {
    position: fixed;
    visibility: hidden;
    max-width: 320px;
    background-color: var(--sub-color);
    color: white;
    text-align: center;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px 50px;
    right: 0px;
    bottom: 50px;
    font-size: 18px;
    font-weight: 500;
    z-index: 2000;
    border-left: solid 5px var(--primary);
    box-shadow: 0px 5px 5px black;
}

#notice.danger {
    border-left: solid 5px var(--danger);
}

#notice.success {
    border-left: solid 5px var(--success);
}

#notice.show {
    visibility: visible;
    animation: fadein 0.5s;
}

#notice.off {
    visibility: visible;
    animation: fadeout 1.5s;
}

@keyframes fadein {
    from {right: -100px; opacity: 0;}
    to {right: 0px; opacity: 1;}
}

@keyframes fadeout {
    from {right: 0px; opacity: 1;}
    to {right: -100px; opacity: 0;}
}
/* Header */
#header-bar {
    background-color: var(--sub-color);
}

#search-bar {
    width: 100%;
}

#search-bar > div {
    width: 100%;
}

/* Product */
.card-product,
.card-product .card-img,
.card-product .card-body,
.card-product .card-text {
    border-color: var(--main-color) !important;
    background-color: var(--main-color) import !important;
}

.card-img {
    flex: 1;
}

.card-product {
    position: relative;
}

.card-product:hover > .card-quick-cart {
    display: unset;
}

.card-quick-cart {
    display: none;
    position: absolute;
    padding: 10%;
    top: 5px;
    right: 5px;
}

.card-quick-cart > svg {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}

.card-quick-add:active {
    opacity: 0.7;
}

.card-product .card-body {
    padding: 0rem;
}

.card-product > img {
    flex: 1 1 auto;
}

.card-img:hover {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

#browse {
    min-height: 100vh;
}

#browse-container {
    display: grid;
    width: 100%;
    grid-template-areas:
    "filter"
    "sort"
    "product";
}

#search-title {
    font-size: 2rem;
    margin: 0.2rem;
    color:white;
}

#browse-sort {
    grid-area: sort;
    margin: 1em 0em;
}

#browse-filter {
    grid-area: filter;
    margin: 1em 0em;
    padding: 0px 5px;
}

#browse-product {
    grid-area: product;
    margin-left: -1em;
    margin-right: -1em;
}

#product-items {

}

#product-pages {
    margin: 1em 1em 0em 1em;
    padding: 5px;
    z-index: 1;
}

.product-discount {
    font-size: 1em;
}

.product-discount-price {
    font-size: 1em;
}

.product-final-price {
    font-size: 1em;
}

/* Sort */
.browse-sort-item:hover{
    background-color: var(--primary) !important;
}

.browse-sort-item.active {
    background-color: var(--primary) !important;
}

.browse-sort-items:hover .browse-sort-item.active {
    background-color: var(--sub-color) !important;
}

.browse-sort-items:hover .browse-sort-item.active:hover {
    background-color: var(--primary) !important;
}

/* Search */
.form-control.search {
    color: #fff;
    background-color: var(--sub-color);
    border: 1px solid var(--sub-color);
}

.form-control.search:focus {
    color: #fff;
    background-color: var(--sub-color);
    border-color: var(--sub-color);
    box-shadow: unset;
}

.form-control.search::placeholder {
    color: #fff;
    background-color: var(--sub-color);
}

#sort-item {
    width: 100%;
    margin-bottom: 10px;
}

#advanced-search-item {
    width: 100%;
}

@media (min-width: 576px) {
    #sort-item {
        float: left;
        width: unset;
    }

    #advanced-search-item {
        float: right;
        width: unset;
    }
}

/* Filter Genre */
.genre-item:nth-child(1) {
    margin-top: 0.8em;
}

.genre-item {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.genre-display {
    color: var(--sub3-color);
}


.genre-display:hover,
.genre-display.checked {
    color: white;
}

.genre-checkbox {
    margin-right: 4px;
}

.filter-title {
    line-height: 2.25em;
    color: white; 
}

.filter-header {
    width: 100%;
    font-weight: 400 !important;
    line-height: 2.25em;
}

/* Page */
.page {
    padding-left: 0;
    list-style: none;
    cursor: pointer;
    margin-bottom: 0;
}

.page-item {
    display: inline-block;
    color: white;
    font-size: 1.0em;
    padding-right: 0.6em;
    padding-left: 0.6em;
}

.page-item > a {
    color: white;
}

.page-item > a:hover {
    color: var(--primary);
    text-decoration: none;
}

.page-item:hover:not(.active) {
    color: var(--primary);
}

.page-item.active {
    cursor: default;
    border-bottom: 3px solid var(--primary);
    padding: 0em 0.4em;
    margin-right: 0.2em;
    margin-left: 0.2em;
}